<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <form class="login100-form validate-form">

          <div class="signup" style="font-weight: bold">
            <h2 class="form-title" id="signup"><b>Iniciar Sesion</b></h2>
            <div class="form-holder">
              <input type="email" class="input" placeholder="Email" #user/>
              <input type="password" class="input" placeholder="Password" #pass/>
            </div>
            <button class="submit-btn" (click)="Login(user,pass)">INICIAR SESION</button>
            <a class="txt1">Photo by Jessica Lewis from Pexels</a>
          </div>
          <div class="login slide-up">

            <div class="center">
              <ngb-alert *ngIf="successMessage" type="danger" (close)="successMessage = ''" style="opacity: 1;">{{ successMessage }}</ngb-alert>
              <h2 class="form-title" id="login">or <b><a [routerLink]="'/Menu'">Invitado</a></b></h2>
            </div>
          </div>
      </form>
      <div class="login100-more">
      </div>
    </div>
  </div>
</div>
