<!--<div class="widget">
  <div class="left-panel panel">
    <div class="date">
      Monday, 20 Aug 2018
    </div>
    <div class="city">
      Mumbai
    </div>
    <div class="temp">
      <img src="https://s5.postimg.cc/yzcm7htyb/image.png" alt="" width="60">
      27&deg;
    </div>
  </div>
  <div class="right-panel panel">
    <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
  </div>

</div>
-->
<!--
<article class="widget">
  <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
  <div class="weatherInfo">
    <div class="temperature"><span>25&deg;</span></div>
    <div class="description">
      <div class="weatherCondition">CLOUDY</div>
      <div class="place">New York, New York</div>
    </div>
  </div>
  <div class="date">1st Jan</div>
</article>
-->

<div class="container">
      <div class="card">
        <img src="../../../assets/img/guate1.jpg"/>
    <div class="content">
      <p class="city-name grey">{{Clima.location.region}}</p>
      <p class="city-name grey">{{Clima.location.name}}</p>
      <div class="details">
        <p>{{Clima.location.localtime}} | {{Clima.current.condition.text}}  | {{Clima.current.temp_c}} °</p>
      </div>
    </div>
  </div>
</div>

