.chartContainer canvas {
  width: auto;
  height: auto;
}

.chartContainer{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

