<mat-toolbar color="primary" class="text-light" style="background: #000000;">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <h1>BD1</h1>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <figure class="story_shape">
        <img [src]="image" class="story_img">
        <figcaption class="story_caption">Jw</figcaption>
      </figure>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <div>
        <button mat-menu-item [routerLink]="'/Menu/'+'Dashboard'"> DASHBOARD </button>
        <button mat-menu-item [routerLink]="'/Menu/'+'/'+'Consultas'">CONSULTAS</button>
        <button mat-menu-item [routerLink]="'/Menu/'+'/'+'Encuestas'">ENCUESTAS</button>
        <button mat-menu-item [hidden]="!admin" [routerLink]="'/Menu/'+'/'+'Encuestas'">ADMINISTRADOR</button>
        <button mat-menu-item [routerLink]="'/'">LOGOUT</button>
      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of Items" mat-list-item [routerLink]="'/Menu/'+item"> {{item | titlecase}} </a>
    </mat-nav-list>
    <!--<div class="container">
      <div class="row">

        <div class="portfoliocard">
          <div class="coverphoto"></div>
          <div class="profile_picture"></div>
          <div class="left_col">
          </div>
          <div class="right_col" style="align-items: center">
            <h2 class="name">Yuya</h2>
            <h3 class="location">Guatemala</h3>
          </div>
        </div>

      </div>
    </div>-->
  </mat-sidenav>
  <mat-sidenav-content>

    <!--
    <mat-toolbar class="text-light" style="background: #000000;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BD1</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="login" class="example-icon favorite-icon" aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #login="matMenu">
        <button mat-menu-item>
          <mat-icon>settings_applications</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>

    </mat-toolbar>-->
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">BASES DE DATOS
          <br><i>UNIVERSIDAD DE SAN CARLOS DE GUATEMALA </i>
          <br>Esta es una demo, proyecto solicitado por el curso de Laboratorio Bases de Datos, de la Universidad de San Carlos de Guatemala.
          <br><strong><i>Diseñado con AngularCli, y NodeJs</i></strong></p>
          <br>Powered by <a href="https://www.weatherapi.com/" title="Weather API">WeatherAPI.com</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">José Orlando Wannan Escobar</a>.
        </p>
      </div>

    </div>
  </div>
</footer>
