<div class="example-container">
  <table mat-table [dataSource]="COUNTRIES">

    <!-- Id Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Encuesta">
      <th mat-header-cell *matHeaderCellDef> Encuesta </th>
      <td mat-cell *matCellDef="let element"> {{element.ENCUESTA}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Preguntas">
      <th mat-header-cell *matHeaderCellDef> Preguntas </th>
      <td mat-cell *matCellDef="let element"> {{element.PREGUNTAS}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
